*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgb(230, 228, 225);
}
.container{
    display: flex;
    justify-content: center;
}
.container2{
    background: #dfdede;

    width: 80%;
    /* height: 1000px; */
    /* border: 1px solid black; */
}
#Main-Heading{
    text-align: center;
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    color: #000000;
    text-decoration: underline #7c0221;
}
#headings{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    color: #000000;
    text-decoration: underline #7c0221;
}
.alert{
    font-size: medium;
}
#alert-button input{
    margin-left: 100px;
    text-align: center;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    border-radius: 5px;
    background-color: black;
    color: white;
    height: 50px ;
    width: 200px;
}
#alert-button input:hover{
    background-color: #7c0221;
    font-weight: 900;
}
